
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
    background-color: rgb(224, 218, 218);
    height: auto;
    padding-bottom: 5px;
}

main{
    background-color: rgb(77, 87, 94);
    margin-top: 60px;
    padding: 30px;
    text-align: justify;
    border-radius: 5px;
    color: white;
}
header {
    width: 200px;
    display: flex;
    justify-content: center;
    margin: 0 auto ;
    color: white;
    
}
header {
    content: "";
    padding: 8px;
    background-color: indigo;
    margin-top: -50px;
} 
main p {
    text-align: justify;
    line-height: 25px;
    margin-top: 10px;
}
footer {
   margin-top: 20px;
   background-color: rgb(27, 26, 26);
   padding: 10px;
}
footer p{
    text-align: center;
    color: white;
    font-size: 13px;
}